<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
    <div class="listed" id="postsWithBlog">
        <button id = "postsbtn">pobierz posty</button>
    </div>
    <div class="listed" id="todosWithBlog">
        <button id = "todosbtn">pobierz todo</button>
    </div>

    <!-- <script src="../JS/main.js"></script> -->
    <script src="../JS/getPosts.js"></script>
    <script src="../JS/getTodos.js"></script>
</body>
</html>